{minimum_otp_vsn, "22.3"}.

{erl_opts, []}.

{deps,
 [
   {ibrowse, {git, "https://github.com/nhs-riak/ibrowse.git", {branch, "nhse-develop"}}},

   {webmachine, {git, "https://github.com/webmachine/webmachine.git", {branch, "main"}}},
   {mochiweb, {git, "https://github.com/nhs-riak/mochiweb.git", {branch, "nhse-develop"}}},
  
   {riakc, {git, "https://github.com/nhs-riak/riak-erlang-client", {branch, "nhse-develop-3.2"}}}
  ]}.
{edoc_opts,
 [
  %% handle macro expansion in edoc
  {preprocess, true},
  {include, "./deps/riakc/include/riakc.hrl"}
  ]}.
%% Misc =======================================================================
{clean_files, ["doc/*.html", "doc/*.png", "doc/edoc-info", "doc/*.css"]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions,
    locals_not_used
]}.

